@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');


/* global Css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

section {
    margin: 100px 0;
}

/* common css Shared */
.container {
    width: 80%;
    margin: 0 auto;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 1.5rem 0;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding: 1.25rem 2rem;
    cursor: pointer;
    transition: all 1s;
}

.btn:hover {
    font-weight: 800;
}

/* Header Part CSS */
header {
    background: url('../images/banner/banner3.png'), lightgray 50%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .banner_desc {
    text-align: right;
    width: 500px;
    margin: auto 0 auto auto;
}

header .container .banner_desc h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 8rem;
}

header .container .banner_desc p {
    color: #FFF;
}

header .container .banner_desc .btn {
    color: #005FAC;
}

/* failure section */
.failure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    width: 80%;
}

.failure div {
    width: 400px;
}

.failure .failure_info h2 {
    color: #151414;
    font-size: 2.3rem;
    font-weight: 700;
}

.failure .failure_info ul {
    list-style-type: none;
}

.failure .failure_info ul li {
    line-height: 26px;
}

.failure .failure_info ul li i {
    color: #005FAC;
    margin-right: 10px;
}

/* my plan section */

.my_plans .container {
    text-align: center;
}

.my_plans h2 {
    margin: 2rem 0;
    font-size: 2.2rem;
}

.my_plans .plan_boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding: 1rem;
}

.my_plans .plan_boxes img {
    height: 100px;
    width: 100px;
}

.my_plans .plan_boxes h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}



/* call me section */

.callme .container {
    border-radius: 8px;
    background: linear-gradient(to right, rgba(20, 125, 223, 0.796), rgba(255, 255, 255, 0)), url('../images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    padding: 5rem;
}

.callme .container h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 800;
    width: 500px;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.callme .container .btn {
    color: #005FAC;
}


/* footer section */

footer {
    background: #151414;
    padding: 10rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

footer .container>div {
    flex: .35;
}

footer .container h2 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

footer .container p {
    color: #F8F8F8;
    font-weight: 400;
}

footer .container p br {
    margin: .5rem 0;
}

footer .container .icon_box .icon_img img {
    width: 50px;
}

footer .container h3 {
    font-size: 2rem;
    color: #F8F8F8;
    margin-bottom: 1rem;
}

footer .container input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    display: block;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

footer .container button {
    background: #005FAC;
    color: #F8F8F8;
}




/* responsive CSS */
@media screen and (max-width:1200px) {
    header {
        background-size: auto;
    }

    section.failure {
        flex-direction: column;
    }

    section.failure .failure_info {
        margin-top: 2rem;
    }

    .failure img {
        width: 80%;
    }

    .my_plans .plan_boxes {
        flex-direction: column;
    }

    .callme .container {
        padding: 2rem;
    }

    footer .container {
        flex-direction: column;
    }
}